__pycache__/
.ipynb_checkpoints/
**.cpython-310.pyc
**.npy
**.pt
**.pth
**.pth.DS_Store
**/__pycache__
**/__pycache__/
**/.DS_Store
**/.vscode/
**/code__esempi/
**/data/
**/dataset_unique_masks
**/model.ipynb
**/models/
